/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button.ajout {
    background-color: #2898a7;
    
}
button.ajout:hover {
    background-color: #084f58;
    
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

select{
    width: 15%;
    padding: 0.5%;
    border: rgb(202, 202, 202) 1px solid;
    border-radius: 5%;
}